@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/saiyan-sans');

body {
  background-image: url('https://en.dragon-ball-official.com/assets/img/shared/bg_comics_pc.jpg');
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: 'SaiyanSans';
  /* tumhari custom font ka naam */
  src: url('/fonts/Saiyan-Sans.ttf') format('truetype');
  /* font ka path */
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  font-style: normal;
}

.dbz-heading {
  font-family: 'Saiyan Sans', sans-serif;
  font-size: 4rem;
  background: linear-gradient(45deg, #FFCC00, #e6cccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #e42b2b;
}

/* Optional outline */
.dbz-heading::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  color: #e7d1c4;
  filter: blur(2px);
}

.bg-yellow {
  background-color: rgb(209, 129, 25);
}

.carousel-stage {
  perspective: 1400px;
  transform-style: preserve-3d;
}

.carousel-card {
  transition: transform 0.8s cubic-bezier(.22, .61, .36, 1), opacity 0.5s;
}

/* Popular tags  */
.bg-dots {
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 10px 10px;
}

/* Gallery next page  */

[x-cloak] {
  display: none;
}

:root {
  --c-bg: snow;
  --c-scrollbar: lightsteelblue;
  --c-scrollbar-hover: #000;
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

::selection {
  background: #8884;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

#hero-banner-gif {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F9856.jpg&f=1&nofb=1&ipt=f1872ea56acfe5d69ffa48856bdc9d9d9f3bab0e7370eaa3a154539a1d29dfe5');
  background-size: cover;
}